@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins'
}

main{
    --bg-color: rgb(73, 153, 73);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color)
}

h1{
    color: #fff;
}

.start{
    background: transparent;
    border: solid 2px #fff;
    border-radius: 10px;
    padding: .5rem 1rem;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.head{
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    color: #fff
}

.head > span{
    font-weight: 600;
    margin-top: .5rem
}

.head span .score{
    font-weight: 400;
}

.grid{
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-auto-rows: 30px;
    border: solid 1px #fff;
    width: fit-content;
    border-radius: 10px;
    overflow: hidden
}

.grid .snake{
    background: sienna;   
}

.grid .apple{
    background: red;
    border-radius: 40%
}